/node/node_modules/

/node/images/

/node/login_files/

python/resources/images/
python/resources/images_old/
python/resources/transformed/
python/resources/tmp/
python/resources/model_files/models/
python/resources/model_files/bottlenecks/
node/resources/login_files/